/*
        GreenStore Project est.2021 
Created by @luca.ambroo_ 
github: https://github.com/lucAmbr0/
Insta: https://www.instagram.com/luca.ambroo_/ 
*/
/* -------------------- IMPORT FONTS --------------------*/

@font-face {
    font-family: Product Sans Medium; /* Medium titles */
    src: url(fonts/ProductSans-Medium.ttf);
}
@font-face {
    font-family: Product Sans Black; /* Main titles */
    src: url(fonts/ProductSans-Black.ttf);
}
@font-face {
    font-family: Monsterrat Bold; /* Other */
    src: url(fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Monsterrat Medium; /* Other */
    src: url(fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Arial; /* Normal text */
    src: url(Fonts/arial.ttf);
}
@font-face {
    font-family: Product Sans Regular; /* Normal text 2 */
    src: url(fonts/ProductSans-Regular.ttf);
}

/* -------------------- CSS Rules --------------------*/
html {
    scroll-behavior: smooth;
}
body {
    background-color: rgba(166, 255, 166,0.85)
}
.everything {
    display: block;
    grid-template-areas: title title;
}
.header {
    margin-top: 10px;
    display: grid;
    grid-template-areas: 
    "titleImgContainer"
    "navbarItems";
    justify-content: center;
    background-color: rgba(0,0,0,0.25);
    border-radius: 20px;
    flex-wrap: wrap;
}
.navbar {
    background-color: rgba(0,0,0,0.35);
    grid-area: navbarItems;
    border-radius: 7px 7px 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.navbarLink {
    margin: 0px 0px 0px 0px;
    background-color: blueviolet;
    border: dotted 2px lime;
    border-radius: 7px 7px 20px 20px;
}
.titleImgContainer {
    column-span: all;
    grid-area: titleImgContainer;
    display: flex;
    justify-content: center;
    margin: 30px;
}
.longTitle {
    width: 90%; 
}