/* -
        GreenStore Project est.2021 
Created by @luca.ambroo_ 
github: https://github.com/lucAmbr0/
Insta: https://www.instagram.com/luca.ambroo_/ 
*/
/* -------------------- IMPORT FONTS --------------------*/

@font-face {
    font-family: Product Sans Medium; /* Medium titles */
    src: url(fonts/ProductSans-Medium.ttf);
}
@font-face {
    font-family: Product Sans Black; /* Main titles */
    src: url(fonts/ProductSans-Black.ttf);
}
@font-face {
    font-family: Montserrat Bold; /* Other */
    src: url(fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat Medium; /* Other */
    src: url(fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Arial; /* Normal text */
    src: url(Fonts/arial.ttf);
}
@font-face {
    font-family: Product Sans Regular; /* Normal text 2 */
    src: url(fonts/ProductSans-Regular.ttf);
}

/* -------------------- GENERAL RULES --------------------*/

html {
    scroll-behavior: smooth;
}
body {
    background-color: rgba(120, 239, 120, 0.55)
}
::selection {
    background-color: rgba(0,0,0,0.3);
}
.everything {
    display: block;
}

/* -------------------- HOMEPAGE --------------------*/
.header {
    margin: 20px 0.85% 15px 0.85%;
    display: grid;
    grid-template-areas: 
    "titleImgContainer"
    "navbarItems";
    justify-content: center;
    background-color: rgba(0,0,0,0.35);
    border-radius: 20px 20px 7px 7px;
    flex-wrap: wrap;
}
.navbar {
    background-color: rgba(0,0,0,0.25);
    grid-area: navbarItems;
    border-radius: 20px 20px 7px 7px;
    display: grid;
    grid-template-areas: "leftBar rightBar";
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}
.navbarLink {
    margin: 0px 3px 0px 3px;
    background-color: rgba(0,0,0,0.25);
    /* border: dotted 2px black; */
    border-radius: 12px;
    font-family: Product Sans Regular;
    font-size: 22px;
    padding: 5px 10px 5px 10px;
    transition: 0.3s;
    color: rgb(220, 220, 220);
    cursor: pointer;
}
.navbarLink:hover {
    background-color: rgba(0,0,0,0.4);
    color: white;
}
#leftLink {
    margin: 0px 3px 0px 0px;
    border-radius: 18px 12px 12px 7px;
}
#rightLink {
    margin: 0px 0px 0px 3px;
    border-radius: 12px 18px 7px 12px;
}
.titleImgContainer {
    column-span: all;
    grid-area: titleImgContainer;
    display: flex;
    justify-content: center;
    margin: 30px;
}
.longTitle {
    width: 90%; 
}
.leftBar {
    grid-area: leftBar;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.rightBar {
    grid-area: rightBar;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.content {
    background-color: rgba(0,0,0,0.25);
    margin: 10px 0.85% 15px 0.85%;
    border-radius: 7px 7px 20px 20px;
    padding: 2%;
}
h1 {
    font-family: Product Sans Medium;
    border-left: double 15px black;
    font-size: 45px;
    margin-left: 25px;
    padding-left: 15px;
    margin-top: -5px;
    transition: 0.4s;
}
h1:hover {
    margin-left: 40px;
    width: fit-content;
}
p {
    font-family: Arial;
    text-align: left;
    font-size: 24px;
    margin: 10px 5% 10px 5%;
    line-height: 1.15;
}
#italic {
    font-style: italic;
}
::marker {
    color: transparent;
}
summary {
    cursor: pointer;
}
.shippingSection {
    display: grid;
    grid-template-areas: 
    "img p p";
    margin: 50px;
    flex-wrap: wrap;
}
.itMap {
    grid-area: img;
    width: 100%;
    border: solid 4px black;
    border-radius: 15px;
    transform: scale(1.0);
    transition: 0.4s;
}
.itMap:hover {
    border-radius: 30px;
}
.shippingParagraph {
    grid-area: p;
    margin-left: 40px;
    text-align: justify;
}
.itMapAlign {
    justify-content: end;
    float: right;
}
.expandImg {
    margin-top: -35px;
    margin-left: 65px;
    margin-bottom: 20px;
    font-size: 18px;
    border: solid 3px black;
    border-radius: 8px;
    width: fit-content;
    padding: 4px 8px 4px 8px;
    transition: 0.4s;
    opacity: 0.8;
}
.expandImg:hover {
    border-radius: 8px 20px 20px 8px;
    opacity: 1;
    margin-left: 85px;
}
#noDeco {
    text-decoration: none;
    color: black;
}
.reviewBox {
    display: flex;
    border: solid 4px rgb(37, 37, 37);  
    background-color: rgba(0, 0, 0, 0.111);
    border-radius: 10px;
    margin: 40px 9% 50px 13%;
    flex-wrap: wrap;
    transition: 0.3s;
}
.reviewBox:hover {
    border: solid 4px black;
    background-color: rgba(55, 169, 59, 0.2);
    border-radius: 15px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.626);
}
.starsContainer {
    display: flex;
    border: solid 4px transparent;
    transition: 0.4s;
    padding: 10px;
    margin: 10px 10px 10px auto;
}
.score {
    font-family: Product Sans Medium;
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 5px;
    height: auto;
    align-items: center;
    font-size: 26px;
}
h2 {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 35px;
    font-family: Product Sans Regular;
    font-size: 30px;
    scale: 1;
    transition: 0.3s;
}
h2:hover {
    scale: 1.08;
}
#mainReview {
    font-size: 35px;
}
.expandReview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img txt";
    margin: 0 20px 0 20px;
}
.reviewImg {
    display: block;
    grid-area: img;
    justify-content: center;
    margin: 10px auto 20px auto;
    border-radius: 10px;
    width: 100%;
    transition: 0.4s;
    cursor: pointer;
    border: solid 3px black;
    scale: 1;
}
.reviewImg:hover {
    scale: 1.04;
}
#twoReviewImg {
    width: 100%;
    border: none;
}
.reviewText {
    display: block;
    grid-area: txt;
    font-size: 20px;
    text-align: justify;
}
#shortReviewText {
    font-size: 26px;
    font-style: italic;
    text-align: center;
    margin: 30px;
}
.expandReviewsButtonContainer {
    text-align: center;
}
.expandReviewsButton {
    background-color: transparent;
    border: solid 3px black;
    border-radius: 30px;
    padding: 0 10px 0 10px;
    line-height: 0.5;
    letter-spacing: 0px;
    transition: 0.4s;
    cursor: pointer;
}
.expandReviewsButton:hover {
    border-radius: 30px;
    padding: 0px 25px 0px 25px; 
    letter-spacing: 1px;
}
#moreReviewsBox {
    display: none;
}
/* ------------------- TODO: ADD ANIMATION ON DIV SHOWING ------------------- */


/* ------------------- HEADING PRODUCTS -------------------- */

.headingProductsBox {
    background-color: rgba(0,0,0,0.111);
    border: solid 4px rgb(37, 37, 37);  
    border-radius: 50px 50px 7px 7px;
    display: block;
    width: auto;
    margin: 50px 10% 0 10%;
    transition: 0.3s;
}
.headingProductsBox:hover {
    border: solid 4px black;
    background-color: rgba(55, 169, 59, 0.2);
    /* box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.626); */
}
#middleBox {
    margin: 10px 10% 10px 10%;
    border-radius: 7px 7px 7px 7px;
}
#bottomBox {
    margin: 10px 10% 60px 10%;
    border-radius: 7px 7px 50px 50px ;
}
#monthlyMostSoldTxt {
    text-align: center;
    padding: 30px 0 0 0px;
    font-size: 40px;
    border-bottom: solid 4px transparent;
    width: fit-content;
    margin: auto;
    font-family: Product Sans Regular;
    scale: 1;
    transition: 0.3s;
}
#monthlyMostSoldTxt:hover {
    border-bottom: solid 4px black;
    scale: 1.08;
}
.headingProductsLayout {
    padding: 20px;
    display: flex;
    justify-content: center;
}
.productPreview {
    width: 300px;
    background-color: black;
    border: solid 8px black;
    border-radius: 15px;
    margin: 20px;
    cursor: pointer;
    scale: 1;
    transition: 0.4s;
}
.productPreview:hover {
    scale: 1.15;
    border-radius: 20px;
}
#smallerProduct {
    width: 193px;
    border: solid 4px black;
    border-radius: 10px;
    margin: 10px;
}
#smallerProduct:hover {
    scale: 1.15;
    border-radius: 15px;
}
#mediumProduct {
    width: 235px;
    border: solid 4px black;
    border-radius: 14px;
    margin: 14px;
}
#firstMidPr {
    width: 235px;
    border: solid 4px black;
    border-radius: 14px 14px 14px 14px;
    margin: 14px;
}
#lastMidPr {
    width: 235px;
    border: solid 4px black;
    border-radius: 14px 14px 14px 14px;
    margin: 14px;
}
#firstMidPr:hover {
    width: 235px;
    border: solid 4px black;
    border-radius: 14px 14px 14px 25px;
    margin: 14px;
}
#lastMidPr:hover {
    width: 235px;
    border: solid 4px black;
    border-radius: 14px 14px 25px 14px;
    margin: 14px;
}