/* -
        GreenStore Project est.2021 
Created by @luca.ambroo_ 
github: https://github.com/lucAmbr0/
Insta: https://www.instagram.com/luca.ambroo_/ 
*/
/* -------------------- IMPORT FONTS --------------------*/

/* Normal text: font-family: 'Noto Sans', sans-serif; */
/* Headings/Titles: font-family: 'Poppins', sans-serif; */
/* All credits in Disclaimer.html */

/* -------------------- GENERAL RULES --------------------*/

html {
    scroll-behavior: smooth;
}
body {
    background-color: rgba(120, 239, 120, 0.55)
}
::selection {
    background-color: rgba(0,0,0,0.3);
}
.everything {
    display: block;
}
#disclaimerPage {
    padding: 3% 10% 2% 5%;
}

/* -------------------- HOMEPAGE --------------------*/
.header {
    margin: 20px 0.85% 15px 0.85%;
    display: grid;
    grid-template-areas: 
    "titleImgContainer"
    "navbarItems";
    justify-content: center;
    background-color: rgba(0,0,0,0.35);
    border-radius: 30px 30px 4px 4px;
    flex-wrap: wrap;
}
.navbar {
    background-color: rgba(0,0,0,0.25);
    grid-area: navbarItems;
    border-radius: 25px 25px 4px 4px;
    display: grid;
    grid-template-areas: "leftBar rightBar";
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}
.navbarLink {
    margin: 0px 3px 0px 3px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 12px;
    font-family: Poppins;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 22px;
    padding: 2px 8px 2px 8px;
    transition: 0.3s;
    color: rgb(220, 220, 220);
    cursor: pointer;
}
.navbarLink:hover {
    background-color: rgba(0,0,0,0.4);
    color: white;
}
#leftLink {
    margin: 0px 3px 0px 0px;
    border-radius: 22px 12px 12px 5px;
}
#rightLink {
    margin: 0px 0px 0px 3px;
    border-radius: 12px 22px 5px 12px;
}
.titleImgContainer {
    column-span: all;
    grid-area: titleImgContainer;
    display: flex;
    justify-content: center;
    margin: 30px;
}
.longTitle {
    width: 90%; 
}
.leftBar {
    grid-area: leftBar;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.rightBar {
    grid-area: rightBar;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.content {
    background-color: rgba(0,0,0,0.25);
    margin: 10px 0.85% 15px 0.85%;
    border-radius: 4px 4px 4px 4px;
    padding: 2%;
}
h1 {
    font-family: Poppins;
    font-weight: bolder;
    border-left: double 15px black;
    font-size: 45px;
    margin-left: 25px;
    padding-left: 15px;
    margin-top: -5px;
    transition: 0.4s;
}
h1:hover {
    margin-left: 40px;
    width: fit-content;
}
.disclaimerTitle {
    font-size: 38px;
    border-left: double 11px black;
}
p {
    font-family: Noto Sans;
    font-weight: 400;
    text-align: left;
    font-size: 24px;
    margin: 10px 5% 10px 5%;
    line-height: 1.15;
}
.disclaimerParagraph {
    text-align: justify;
    font-size: 20px;
}
#italic {
    font-style: italic;
}
li::marker {
    color: black;
}
::marker {
    color: transparent;
}
summary {
    cursor: pointer;
}
.shippingSection {
    display: grid;
    grid-template-areas: 
    "img p p";
    margin: 50px;
    flex-wrap: wrap;
}
.itMap {
    grid-area: img;
    width: 100%;
    border: solid 4px black;
    border-radius: 15px;
    transform: scale(1.0);
    transition: 0.4s;
}
.itMap:hover {
    border-radius: 30px;
}
.shippingParagraph {
    grid-area: p;
    margin-left: 40px;
    text-align: justify;
}
.itMapAlign {
    justify-content: end;
    float: right;
}
.expandImg {
    margin-top: -35px;
    margin-left: 65px;
    margin-bottom: 20px;
    font-size: 18px;
    border: solid 3px black;
    border-radius: 8px;
    width: fit-content;
    padding: 4px 8px 4px 8px;
    transition: 0.4s;
    opacity: 0.8;
}
.expandImg:hover {
    border-radius: 8px 20px 20px 8px;
    opacity: 1;
    margin-left: 85px;
}
#noDeco {
    text-decoration: none;
    color: black;
}
#linkDeco {
    color: darkblue;
    text-decoration: underline darkblue;
}
.reviewBox {
    display: flex;
    border: solid 4px rgb(37, 37, 37);  
    background-color: rgba(0, 0, 0, 0.111);
    border-radius: 15px;
    margin: 40px 9% 50px 13%;
    flex-wrap: wrap;
    transition: 0.3s;
}
.reviewBox:hover {
    border: solid 4px black;
    background-color: rgba(55, 169, 59, 0.2);
    border-radius: 25px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.626);
}
#mainReviewBox {
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.626);
}
#mainReviewBox:hover {
    box-shadow: 7px 0px 15px rgba(0, 0, 0, 0.626);
}
.starsContainer {
    display: flex;
    border: solid 4px transparent;
    transition: 0.4s;
    padding: 10px;
    margin: 10px 10px 10px auto;
}
.score {
    font-family: Poppins;
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 5px;
    height: auto;
    align-items: center;
    font-size: 26px;
}
h2 {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 35px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
    scale: 1;
    transition: 0.3s;
}
h2:hover {
    scale: 1.08;
}
#mainReview {
    font-size: 35px;
}
.expandReview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img txt";
    margin: 0 20px 0 20px;
}
.reviewImg {
    display: block;
    grid-area: img;
    justify-content: center;
    margin: 10px auto 20px auto;
    border-radius: 10px;
    width: 100%;
    transition: 0.4s;
    cursor: pointer;
    border: solid 3px black;
    scale: 1;
}
.reviewImg:hover {
    scale: 1.04;
}
#twoReviewImg {
    width: 100%;
    border: none;
}
.reviewText {
    display: block;
    grid-area: txt;
    font-size: 20px;
    text-align: justify;
}
#shortReviewText {
    font-size: 26px;
    font-style: italic;
    text-align: center;
    margin: 30px;
}
.expandReviewsButtonContainer {
    text-align: center;
}
.expandReviewsButton {
    background-color: transparent;
    border: solid 3px black;
    border-radius: 30px;
    padding: 0 10px 0 10px;
    line-height: 0.5;
    letter-spacing: 0px;
    transition: 0.4s;
    cursor: pointer;
}
.expandReviewsButton:hover {
    border-radius: 30px;
    padding: 0px 25px 0px 25px; 
    letter-spacing: 1px;
}
#moreReviewsBox {
    display: none;
}
/* ------------------- TODO: ADD ANIMATION ON DIV SHOWING ------------------- */


/* ------------------- HEADING PRODUCTS -------------------- */

.headingProductsBox {
    background-color: rgba(0,0,0,0.111);
    border: solid 4px rgb(37, 37, 37);  
    border-radius: 50px 50px 7px 7px;
    display: block;
    width: auto;
    margin: 50px 10% 0 10%;
    transition: 0.3s;
}
.headingProductsBox:hover {
    border: solid 4px black;
    background-color: rgba(55, 169, 59, 0.2);
}
#middleBox {
    margin: 10px 10% 10px 10%;
    border-radius: 7px 7px 7px 7px;
}
#bottomBox {
    margin: 10px 10% 60px 10%;
    border-radius: 7px 7px 50px 50px;
    height: fit-content;
    padding: 0 0 30px 0;
    cursor: pointer;
}
.headingProductsTxt {
    text-align: center;
    padding: 30px 0 0 0px;
    font-size: 40px;
    border-bottom: solid 4px transparent;
    width: fit-content;
    margin: auto;
    font-family: Poppins;
    font-weight: 600;
    scale: 1;
    cursor: default;
    transition: 0.3s;
}
.headingProductsTxt:hover {
    border-bottom: solid 4px black;
    scale: 1.08;
}
#viewStoreTxt {
    text-align: center;
    padding: 30px 0 10px 0px;
    font-size: 50px;
    border-bottom: solid 4px transparent;
    width: fit-content;
    margin: auto;
    font-family: Poppins;
    font-weight: 900;
    scale: 1;
    cursor: pointer;
    transition: 0.45s;
}
#viewStoreTxt:hover {
    border-bottom: solid 4px black;
    scale: 1.1;
    letter-spacing: 3px;
}
.headingProductsLayout {
    padding: 20px;
    display: flex;
    justify-content: center;
}
.productPreview {
    width: 28%;
    background-color: black;
    border: solid 8px black;
    border-radius: 15px;
    margin: 20px;
    cursor: pointer;
    scale: 1;
    transition: 0.4s;
}
.productPreview:hover {
    scale: 1.15;
    border-radius: 22px;
}
#smallerProduct {
    width: 17.5%;
    border: solid 4px black;
    border-radius: 10px;
    margin: 11px;
}
#smallerProduct:hover {
    scale: 1.15;
    border-radius: 18px;
}
#mediumProduct {
    width: 22%;
    border: solid 4px black;
    border-radius: 14px;
    margin: 14px;
}
#mediumProduct:hover {
    border-radius: 20px;
}
#topFlashSale {
    background-color: rgba(255, 255, 33, 0.911);
}
.headingProductsTxtSale {
    text-align: center;
    padding: 30px 0 0 0px;
    font-size: 35px;
    width: fit-content;
    margin: auto;
    font-family: Poppins;
    font-weight: 900;
    scale: 1;
    cursor: default;
    letter-spacing: -2px;
    transition: 0.35s;
}
#timer {
    display: flex;
    font-family: Poppins;
    margin-bottom: 30px;
    font-size: 60px;
}
.red {
    color: red;
}

.yellow {
    color: blue;
}

.big {
    scale: 1.15;
}
.small {
    scale: 0.95;
}
.headingProductsBoxSale {
    background-color: rgba(252, 255, 82, 0.779);
    border: solid 4px rgb(37, 37, 37);  
    border-radius: 50px 50px 7px 7px;
    display: block;
    width: auto;
    margin: 50px 10% 0 10%;
    transition: 0.3s;
}
.headingProductsBoxSale:hover {
    border: solid 4px black;
    background-color: rgba(255, 255, 33, 0.911);
}
#SaleProductsLayout {
    margin-bottom: -28px;
}
.footer {
    background-color: rgba(0,0,0,0.25);
    margin: 10px 0.85% 15px 0.85%;
    border-radius: 4px 4px 30px 30px;
    padding: 2%;
}
.textFooter {
    font-size: 14px;
    font-family: Noto Sans;
    font-weight: lighter;
    text-align: center;
    margin-top: 30px;
    color: rgb(37, 37, 37);
}
.socialBox1 {
    justify-content: center;
    display: flex;
    width: 15%;
    height: 80px;
    align-items: center;
    background-color: rgba(21, 139, 0, 0.285);
    border: solid 3px rgb(37, 37, 37);
    border-radius: 20px 5px 5px 20px;
    /* margin: 0 30px 0 30px; */
    padding: 5px 10px 5px 10px;
    transition: 0.3s;
}
.socialBox1:hover {
    border: solid 3px black;
    background-color: rgba(21, 139, 0, 0.485);
}
.socialBox2:hover {
    border: solid 3px black;
    background-color: rgba(21, 139, 0, 0.485);
}
.socialBox3:hover {
    border: solid 3px black;
    background-color: rgba(21, 139, 0, 0.485);
}
.socialBox2 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 36%;
    height: 80px;
    background-color: rgba(21, 139, 0, 0.285);
    border: solid 3px rgb(37, 37, 37);
    border-radius: 5px 5px 5px 5px;
    margin: 0 0px 0 10px;
    padding: 5px 10px 5px 10px;
    transition: 0.4s;    
}
.footerLogo {
    width: 100%;
    scale: 1.1;
    transition: 0.4s;
}
.footerLogo:hover {
    scale: 1.12;
}
.socialBox3 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 15%;
    height: 80px;
    background-color: rgba(21, 139, 0, 0.285);
    border: solid 3px rgb(37, 37, 37);
    border-radius: 5px 20px 20px 5px;
    margin: 0 0px 0 10px;
    padding: 5px 10px 5px 10px;
    transition: 0.4s;
}
.footerLinks {
    font-size: 10px;
    line-height: 0.2;
    color: darkblue;
    text-decoration: underline darkblue;
}
.socialIcon {
    width: 50px;
    height: 50px;
    margin: 10px;
    scale: 1;
    transition: 0.3s;
    cursor: pointer;
}
.socialIcon:hover {
    scale: 1.2;
}
.footerContainer {
    display: flex;
    justify-content: center;
}
.versionName {
    font-size: 8px;
    text-align: center;
    text-decoration: underline black;
    color: black;
}